body {
  padding: 0;
  margin: 0;
}
.dictionary {
  text-align: center;
  padding-top: 1.5rem;
}
input,button {
  margin-top: 1rem;
}
input {
  margin-right: .5rem;
}
.content {
  padding: 2rem;
}
.head {
  display: flex;
  gap: 1rem;
  border: 1px solid black;
}
.word {
  font-size: 2rem;
  font-family: lato;
  align-self: center;
}
.partOfSpeech {
  font-size: 1rem;
  color: red;
  align-self: center;
  color: steelblue;
  font-family: poppins;
}
footer {
  text-align: center;
}